#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    /*background: rgba(255, 255, 255, 0.3);*/
}
#components-layout-demo-side .logo span{
  display: inline-block;
  height: 32px;
  margin: 0 0 0 12px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  vertical-align: middle;
  animation: pro-layout-title-hide .3s;
}

.site-layout .site-layout-background {
    /*background: #fff;*/
}
